  
  <!-- FOOTER -->
  <footer class="footer">
	<div class="footer-bottom">
	  <p>copyright &copy;2025 Beauty Salon. Diseñado por <span>Celeste Courtade.</span></p>  
	</div>
  </footer>

  <style>
    footer {
      background-color: #000;
      color: white;
    }
  </style>